<div class="settings-wrapper">
    <section class="scrollable">
    {{#each settings as |setting s|}}
        <div class="form-group">
            <label for="{{setting.key}}">{{localize setting.name}}</label>
            <div class="form-fields">
                {{#if setting.choice}}
                    <select name="{{setting.key}}" id="{{setting.key}}">
                        {{#each setting.choices as |label key|}}
                            <option value="{{key}}" {{#if (eq key ../setting.value)}}selected{{/if}}>{{localize label}}</option>
                        {{/each}}
                    </select>
                {{else}}
                    {{#if setting.actorType}}
                        <input type="hidden" name="{{setting.key}}" value="{{setting.value}}">
                        {{#if (getActorTypeConfig setting.value 'character')}}
                            <input type="checkbox" name="{{setting.key}}" value="character" title="{{localize 'ACTOR.TypeCharacter'}}" checked>
                        {{else}}
                            <input type="checkbox" name="{{setting.key}}" value="character" title="{{localize 'ACTOR.TypeCharacter'}}">
                        {{/if}}
                        {{#if (getActorTypeConfig setting.value 'npc')}}
                            <input type="checkbox" name="{{setting.key}}" value="npc" title="{{localize 'ACTOR.TypeNpc'}}" checked>
                        {{else}}
                            <input type="checkbox" name="{{setting.key}}" value="npc" title="{{localize 'ACTOR.TypeNpc'}}">
                        {{/if}}
                        {{#if (getActorTypeConfig setting.value 'creature')}}
                            <input type="checkbox" name="{{setting.key}}" value="creature" title="{{localize 'ACTOR.TypeCreature'}}" checked>
                        {{else}}
                            <input type="checkbox" name="{{setting.key}}" value="creature" title="{{localize 'ACTOR.TypeCreature'}}">
                        {{/if}}
                        {{#if (getActorTypeConfig setting.value 'vehicle')}}
                            <input type="checkbox" name="{{setting.key}}" value="vehicle" title="{{localize 'ACTOR.TypeVehicle'}}" checked>
                        {{else}}
                            <input type="checkbox" name="{{setting.key}}" value="vehicle" title="{{localize 'ACTOR.TypeVehicle'}}">
                        {{/if}}
                        {{#if (getActorTypeConfig setting.value 'starship')}}
                            <input type="checkbox" name="{{setting.key}}" value="starship" title="{{localize 'ACTOR.TypeStarship'}}" checked>
                        {{else}}
                            <input type="checkbox" name="{{setting.key}}" value="starship" title="{{localize 'ACTOR.TypeStarship'}}">
                        {{/if}}
                    {{else}}
                        {{#if (eq setting.filePicker "image")}}
                            <input type="{{setting.inputType}}" name="{{setting.key}}"
                                   data-dtype="{{setting.type.name}}"
                                   value="{{setting.value}}">
                            <button type="button" class="file-picker" data-type="image" data-target="{{setting.key}}" tabindex="-1" title="Browse Files">
                                <i class="fas fa-file-import fa-fw"></i>
                            </button>
                        {{else}}
                            <input type="{{setting.inputType}}" name="{{setting.key}}"
                                   data-dtype="{{setting.type.name}}"
                                   value="{{setting.value}}" {{checked setting.value}}>
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
            <p class="notes">{{{localize setting.hint}}}</p>
        </div>
    {{/each}}
    </section>
    <div class="submit">
        <button type="button" data-action="submit">{{localize "Submit"}}</button>
    </div>
</div>

