<div class="settings-wrapper">
    <section class="scrollable">
    {{#each settings as |setting s|}}
        <div class="form-group">
            <label for="{{setting.key}}">{{localize setting.name}}</label>
            <div class="form-fields">
                {{#if setting.choice}}
                    <select name="{{setting.key}}" id="{{setting.key}}">
                        {{selectOptions setting.choices selected=setting.value localize=true}}
                    </select>
                {{else}}
                    {{#if (eq setting.filePicker "image")}}
                        <input type="{{setting.inputType}}" name="{{setting.key}}" data-dtype="{{setting.type.name}}"
                               value="{{setting.value}}">
                        {{filePicker target=setting.key type="image"}}
                    {{else}}
                        <input type="{{setting.inputType}}" name="{{setting.key}}" data-dtype="{{setting.type.name}}"
                               value="{{setting.value}}" {{checked setting.value}} data-field="{{setting.type.name}}">
                    {{/if}}
                {{/if}}
            </div>
            <p class="notes">{{{localize setting.hint}}}</p>
        </div>
    {{/each}}
    </section>
    <div class="submit">
        <button type="button" data-action="submit">{{localize "Submit"}}</button>
    </div>
</div>
