<form>
    <div>
        <div class="flexrow flex-group-center specializationname" data-specname="{{specname}}">
            <label for="specname">{{localize "OD6S.SPECIALIZATION_NAME"}}:</label>
            <input title="{{localize "OD6S.SPECIALIZATION_NAME"}}" name="specname" type="text"
                   value="{{specname}}" id="specname" data-dtype="String"/>
        </div>
    </div>
    <div class="form-footer flexrow flex-group-right">
        <button type="submit" class="od6s-submit">
            <i class="fas fa-check"></i> {{localize 'Submit'}}
        </button>
    </div>
</form>
