<li class="attributes" style="list-style: none;">
    {{#if (ne key "met") }}
        <div class="attributes grid grid-3col-create-attributes">
            <div class="attribute flex-group-center">
                <b>{{ getAttributeName key }}:</b>
            </div>
            <div class="flex-group-center">
                <b>{{diceFromScore value.score}}</b>D+<b>{{pipsFromScore value.score}}</b>
            </div>
            <div class="skill-add flex-group-center"
                 data-tooltip="{{localize 'OD6S.ADD_SKILL'}}"
                 data-type="skill"
                 data-new="false"
                 data-attrname="{{ key }}">
                <a><i class="fas fa-plus"></i></a>
            </div>
        </div>
        <div>
        <ul class="skill-list" style="list-style: none;">
            {{#each actor.skills as |skill skillkey|}}
                {{#if (eq skill.system.attribute ../key) }}
                    <li class="item skills">
                        <div class="skills grid grid-3col-create-attributes">
                            <div class="skillname" data-tooltip="{{skill.system.description}}">
                                {{skill.name}}
                            </div>
                            <div class="flex-group-center"
                                 data-item-id="{{skill._id}}"
                                 data-type="skill"
                                 data-score="{{skill.system.score}}"
                                 data-base="{{skill.system.base}}"
                                 data-label="{{skill.name}}">
                                {{#unless (flatSkills)}}
                                    <b>{{diceFromScore skill.system.score}}</b>D+<b>{{pipsFromScore
                                        skill.system.score}}</b>
                                {{else}}
                                    {{ skill.system.base }}
                                {{/unless}}</div>
                            <div class="item item-controls flexrow flex-group-center"
                                 data-item-id="{{skill._id}}">
                                <div class="increase-dialog"
                                     title="{{localize "OD6S.INCREASE_SKILL"}}"
                                     data-item-id="{{skill._id}}"
                                     data-type="skill"
                                     data-score="{{skill.system.score}}"
                                     data-base="{{skill.system.base}}"
                                     data-label="{{skill.name}}">
                                    <a><i class="fas fa-plus-square"></i></a></div>
                                <div class="decrease-dialog"
                                     title="{{localize "OD6S.DECREASE_SKILL"}}"
                                     data-item-id="{{skill._id}}"
                                     data-type="skill"
                                     data-score="{{skill.system.score}}"
                                     data-base="{{skill.system.base}}"
                                     data-label="{{skill.name}}">
                                    <a><i class="fas fa-minus-square"></i></a></div>
                                <div class="specialize-dialog"
                                     title="{{localize "OD6S.CREATE_SPECIALIZATION"}}"
                                     data-item-id="{{skill._id}}"
                                     data-type="skill">
                                    <a><i class="fas fa-chevron-circle-left"></i></a>
                                </div>
                                {{#if (itemNotInTemplate skill.name ../templateData) }}
                                    <div class="skill-delete" data-item-id="{{skill._id}}"
                                         data-type="skill"
                                         class="item-control skill-delete"
                                         title={{localize 'OD6S.DELETE_SKILL'}}>
                                        <a><i class="fas fa-trash"></i></a>
                                    </div>
                                {{else}}
                                    <div></div>
                                {{/if}}
                            </div>
                        </div>
                    </li>
                    {{#each ../actor.specializations as |spec speckey|}}
                        {{#if (eq spec.system.skill skill.name) }}
                            <li class="item specializations">
                                <div class="specializations grid grid-3col-create-attributes">
                                    <div class="specname indent">
                                        {{spec.name}}
                                    </div>
                                    <div class="flex-group-center"
                                         data-item-id="{{spec._id}}"
                                         data-type="spec"
                                         data-score="{{spec.system.score}}"
                                         data-base="{{spec.system.base}}"
                                         data-label="{{spec.name}}">
                                        {{#unless (flatspecs)}}
                                            <b>{{diceFromScore spec.system.score}}</b>D+<b>{{pipsFromScore
                                                spec.system.score}}</b>
                                        {{else}}
                                            {{ spec }}
                                        {{/unless}}</div>
                                    <div class="item item-controls flexrow flex-group-center"
                                         data-item-id="{{spec._id}}">
                                        {{#unless (specializationDice)}}
                                        <div class="increase-spec-dialog"
                                             title="{{localize "OD6S.INCREASE_SPECIALIZATION"}}"
                                             data-item-id="{{spec._id}}"
                                             data-type="spec"
                                             data-score="{{spec.system.score}}"
                                             data-base="{{spec.system.base}}"
                                             data-label="{{spec.name}}">
                                            <a><i class="fas fa-plus-square"></i></a></div>
                                        <div class="decrease-spec-dialog"
                                             title="{{localize "OD6S.DECREASE_SPECIALIZATION"}}"
                                             data-item-id="{{spec._id}}"
                                             data-type="spec"
                                             data-score="{{spec.system.score}}"
                                             data-base="{{spec.system.base}}"
                                             data-label="{{spec.name}}">
                                            <a><i class="fas fa-minus-square"></i></a></div>
                                       {{else}}
                                            <div></div><div></div>
                                        {{/unless}}
                                        <div></div>
                                        <div data-item-id="{{spec._id}}"
                                             data-type="spec"
                                             class="item-control spec-delete"
                                             title={{localize 'OD6S.DELETE_SPECIALIZATION'}}>
                                            <a><i class="fas fa-trash"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {{/if}}
                    {{/each}}
                {{/if}}
            {{/each}}
        </ul>
        </div>
    {{/if}}
</li>