<div>
    <div class="header-inline">
        <div class="field">
            <label for="chartype-{{actor._id}}">{{localize actor.system.chartype.label}}:</label>
            <input id="chartype-{{actor._id}}" title="{{localize actor.system.chartype.label}}" name="system.chartype.content" type="text"
                   value="{{actor.system.chartype.content}}" placeholder="{{localize actor.system.chartype.label}}"
                   data-dtype="{{actor.system.chartype.type}}"/>
            {{#if (eq actor.system.created.value false)}}
                {{#if (displayCharacterTemplateClear actor)}}
                    <button class="reset-template">{{localize 'OD6S.CLEAR'}}</button>
                {{/if}}
            {{/if}}
        </div>
        <div class="field">
            <label for="species-{{actor._id}}">{{localize actor.system.species.label}}:</label>
            <input id="species-{{actor._id}}" title="{{localize actor.system.species.label}}" name="system.species.content" type="text"
                   value="{{actor.system.species.content}}" placeholder="{{localize actor.system.species.label}}"
                   data-dtype="{{actor.system.species.type}}"/>
            {{#if (eq actor.system.sheetmode.value 'freeedit')}}
                {{#if (displaySpeciesTemplateClear actor)}}
                    <button class="reset-species-template">{{localize 'OD6S.CLEAR'}}</button>
                {{/if}}
            {{/if}}
        </div>
    </div>
    <div class="grid grid-4col header-fields">
        <div class="flexrow flex-group-center">
            <label for="characterpoints-{{actor._id}}">{{localize actor.system.characterpoints.short_label}}
                :</label>
            <input id="characterpoints-{{actor._id}}" title="{{localize actor.system.characterpoints.label}}" name="system.characterpoints.value"
                   type="number" min="0" max="9999"
                   value="{{actor.system.characterpoints.value}}" placeholder="0"
                   data-dtype="{{actor.system.characterpoints.type}}"/>
        </div>
        <div class="flexrow flex-group-center">
            <label for="fatepoints-{{actor._id}}">{{getFatePointsShortName}}:</label>
            <input id="fatepoints-{{actor._id}}" title="{{getFatePointsShortName}}" name="system.fatepoints.value" type="number"
                   min="0" max="9999" value="{{actor.system.fatepoints.value}}" placeholder="0"
                   data-dtype="{{actor.system.fatepoints.type}}"/>
            <div class="flexrow flex-group-left fatepointeffect"
                 title="{{localize 'OD6S.IN_EFFECT'}}">
                <label for="fpInEffect-{{actor._id}}"></label>
                {{#if (gt actor.system.fatepoints.value 0)}}
                    <input id="fpInEffect-{{actor._id}}" type="checkbox" data-dtype="Boolean" {{checked actor.flags.od6s.fatepointeffect}}/>
                {{else}}
                    {{#if actor.flags.od6s.fatepointeffect}}
                        <input id="fpInEffect-{{actor._id}}" type="checkbox" data-dtype="Boolean" {{checked actor.flags.od6s.fatepointeffect}}/>
                    {{else}}
                        <input id="fpInEffect-{{actor._id}}" type="checkbox" data-dtype="Boolean" disabled {{checked actor.flags.od6s.fatepointeffect}}/>
                    {{/if}}
                {{/if}}
            </div>
        </div>
        {{#if (ne (getCustomField1) "")}}
            {{#if (isCustomFieldUsed 1 actor.type)}}
                <div class="flexrow flex-group-center">
                    <label for="custom1-{{actor._id}}">{{getCustomField1Short}}:</label>
                    <input id="custom1-{{actor._id}}" title="{{getCustomField1Short}}" name="system.custom1.value" type="{{getCustomField1Type}}"
                           value="{{actor.system.custom1.value}}" data-dtype="{{getCustomField1FType}}"/>
                </div>
            {{/if}}
        {{/if}}
        {{#if (ne (getCustomField2) "")}}
            {{#if (isCustomFieldUsed 2 actor.type)}}
                <div class="flexrow flex-group-center">
                    <label for="custom2-{{actor._id}}">{{getCustomField2Short}}:</label>
                    <input id="custom2-{{actor._id}}" title="{{getCustomField2Short}}" name="system.custom2.value" type="{{getCustomField2Type}}"
                           value="{{actor.system.custom2.value}}" data-dtype="{{getCustomField2FType}}"/>
                </div>
            {{/if}}
        {{/if}}
        {{#if (ne (getCustomField3) "")}}
            {{#if (isCustomFieldUsed 3 actor.type)}}
                <div class="flexrow flex-group-center">
                    <label for="custom3-{{actor._id}}">{{getCustomField3Short}}:</label>
                    <input id="custom3-{{actor._id}}" title="{{getCustomField3Short}}" name="system.custom3.value" type="{{getCustomField3Type}}"
                           value="{{actor.system.custom3.value}}" data-dtype="{{getCustomField3FType}}"/>
                </div>
            {{/if}}
        {{/if}}
        {{#if (ne (getCustomField4) "")}}
            {{#if (isCustomFieldUsed 4 actor.type)}}
                <div class="flexrow flex-group-center">
                    <label for="custom4-{{actor._id}}">{{getCustomField4Short}}:</label>
                    <input id="custom4-{{actor._id}}" title="{{getCustomField4Short}}" name="system.custom4.value" type="{{getCustomField4Type}}"
                           value="{{actor.system.custom4.value}}" data-dtype="{{getCustomField4FType}}"/>
                </div>
            {{/if}}
        {{/if}}
        <div class="flexrow flex-group-center">
            <label for="move-{{actor._id}}">{{localize actor.system.move.label}}:</label>
            <input id="move-{{actor._id}}" title="{{localize actor.system.move.label}}" name="system.move.value" type="number" min="0"
                   max="9999"
                   value="{{actor.system.move.value}}" placeholder="10" data-dtype="{{actor.system.move.type}}"/>
        </div>
        {{#if (eq (getCost) '0')}}
            <div class="funds flexrow flex-group-center">
                <label for="funds-dice-{{actor._id}}">{{localize 'OD6S.CHAR_FUNDS'}}:</label>
                {{#if (eq actor.system.sheetmode.value "normal")}}
                    <div class="funds flex-group-center rolldialog" data-score="{{actor.system.funds.score}}"
                         data-type="funds" data-subtype="funds" data-label="{{localize 'OD6S.CHAR_FUNDS'}}">
                        {{diceFromScore actor.system.funds.score}}D+{{pipsFromScore actor.system.funds.score}}
                    </div>
                {{else}}
                    {{#if (eq actor.system.sheetmode.value "freeedit")}}
                        <div class="edit-funds">
                            <input title="{{localize 'OD6S.CHAR_FUNDS'}}" name="funds-dice" type="number"
                                   id="funds-dice-{{actor._id}}"
                                   data-id="funds-dice" value="{{diceFromScore actor.system.funds.score}}" min="0"
                                   max="99"
                                   placeholder="{{diceFromScore actor.system.funds.score}}" data-type="Number"/></div>
                        D+
                        <div class="edit-funds">
                            <input title="{{localize 'OD6S.CHAR_FUNDS'}}" name="funds-pips" type="number"
                                   id="funds-pips-{{actor._id}}"
                                   data-id="funds-pips" value="{{pipsFromScore actor.system.funds.score}}" min="0"
                                   max="99"
                                   placeholder="{{pipsFromScore actor.system.funds.score}}" data-type="Number"/>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        {{else}}
            <div class="flexrow flex-group-center">
                <label for="credits-{{actor._id}}">{{localize (getCurrencyLabel)}}:</label>
                <input id="credits-{{actor._id}}" title="{{localize (getCurrencyLabel)}}" name="system.credits.value" type="number" min="0"
                       max="999999999999" value="{{actor.system.credits.value}}"
                       placeholder="{{actor.system.credits.value}}"
                       data-dtype="{{actor.system.credits.type}}"/>
            </div>
        {{/if}}
        {{> (getWoundsTemplate)}}
        {{#if (ne actor.system.sheetmode.value "normal") }}
            <div class="flexrow flex-group-center">
                <label for="metaphysicsextranormal-{{actor._id}}">{{getMetaphysicsExtranormalName}}:</label>
                <input type="checkbox" name="system.metaphysicsextranormal.value"
                       id="metaphysicsextranormal-{{actor._id}}" data-dtype="Boolean"
                    {{checked actor.system.metaphysicsextranormal.value}}>
            </div>
        <div>
            <!--Session Reset Button-->
            <button class="session-reset-button">Reset Session</button>
        </div>
        {{ else }}
            {{#if actor.system.metaphysicsextranormal.value}}
            <div class="flexrow flex-group-center">
                <label for="metaphysicsextranormal-{{actor._id}}">{{getMetaphysicsExtranormalName}}:</label>
                <input type="checkbox" name="system.metaphysicsextranormal.value"
                       id="metaphysicsextranormal-{{actor._id}}" data-dtype="Boolean" disabled
                    {{checked actor.system.metaphysicsextranormal.value}}>
            </div>
            {{/if}}
        {{/if}}
        {{#if (eq actor.system.created.value false)}}
            <div class="flexrow flex-group-center creation">
                <button class="create-character">{{localize 'OD6S.CREATE'}}</button>
            </div>
        {{/if}}
    </div>
    <!-- Sheet Mode moved from footer into header on its own row, right-aligned -->
    <div class="flexrow flex-group-right header-mode-row">
        <label for="sheetmode-{{actor._id}}">{{localize 'OD6S.SHEETMODE'}}:</label>
        <select id="sheetmode-{{actor._id}}" name="system.sheetmode.value" class="sheetmode-select">
            {{selectOptions sheetModeChoices selected=actor.system.sheetmode.value localize=true}}
        </select>
    </div>
    </div>
