<div class="init-roll-dialog">
        <p><b>{{ localize 'OD6S.ROLLING'}} {{title}}: {{dice}}D + {{pips}}</b></p>
        <div class="flexrow flex-group-left usecharacterpoints">
            <div data-characterpoints="{{characterpoints}}">{{ localize 'OD6S.USE_CHARACTER_POINTS'}}</div>
            <div class="flexrow flex-group-center">
                <div class="boxed {{cpcostcolor}}">{{cpcost}}</div>
                <div class="flex-group-center cpup">
                    <i data-action="cpup" class="fas fa-plus-square"></i>
                </div>
                <div class="flex-group-center cpdown">
                    <i data-action="cpdown" class="fas fa-minus-square"></i>
                </div>
            </div>
        </div>
        {{#if showWildDie}}
            <div class="flexrow flex-group-left showWildDie" data-wilddie="{{wilddie}}">
                <label for="wilddie">{{localize 'OD6S.USE_WILD_DIE'}}</label>
                <input data-action="usewilddie" type="checkbox" data-dtype="Boolean" id="wilddie" name="wilddie" {{checked wilddie}}>
            </div>
        {{/if}}
        <div class="flexrow flex-group-left">
            <div class="bonusdice flexrow flex-group-left usebonus">
                <label for="bonusdice">{{localize 'OD6S.USE_BONUS_DICE'}}</label>
                <input data-action="bonusdice" type="number" data-dtype="Number"
                       min="0" step="1" max="99" id="bonusdice" name="bonusdice" value="{{bonusdice}}" placeholder="{{bonusdice}}"
                       onfocus="this.oldValue=this.value; this.value='';"
                       onblur="if(this.value===''){ this.value=this.oldValue ?? '0'; }; this.dispatchEvent(new Event('change',{bubbles:true}));">
            </div>
            <div class="bonuspips flexrow flex-group-left usebonus" data-bonuspips="{{bonuspips}}">
                <label for="bonuspips">{{localize 'OD6S.USE_BONUS_PIPS'}}</label>
                <input data-action="bonuspips" type="number" data-dtype="Number"
                       min="0" step="1" max="99" id="bonuspips" name="bonuspips" value="{{bonuspips}}" placeholder="{{bonuspips}}"
                       onfocus="this.oldValue=this.value; this.value='';"
                       onblur="if(this.value===''){ this.value=this.oldValue ?? '0'; }; this.dispatchEvent(new Event('change',{bubbles:true}));">
            </div>
        </div>
        <div class="form-footer flexrow flex-group-right">
            <button type="submit" data-action="submit" class="od6s-submit">
                <i class="fas fa-save"></i> {{localize 'OD6S.ROLL'}}
            </button>
        </div>
    </div>
