<form>
    <div class="flexrow flex-group-left">
        <div class="label-edit flexrow flex-group-left" data-item-id="{{id}}">
            <label for="key">{{localize "OD6S.KEY"}}</label>
            <input title="{{localize 'OD6S.KEY'}}"
                   data-dtype="String" id="key"
                   name="key" type="text" value="">
        </div>
        <div class="label-edit flexrow flex-group-left" data-item-id="{{id}}">
            <label for="key">{{localize "OD6S.VALUE"}}</label>
            <input title="{{localize 'OD6S.VALUE'}}"
                   data-dtype="String" id="value"
                   name="value" type="text" value="">
        </div>
    </div>
</form>