<div class="od6s sheet item flexcol">
<header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"
             alt="{{localize 'OD6S.ALT_ITEM_IMAGE'}}"/>
        <div class="header-fields">
            <div>
                <h2 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h2>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "OD6S.DESCRIPTION"}}</a>
        <a class="item" data-tab="attributes">{{localize "OD6S.ATTRIBUTES"}}</a>
        <a class="item" data-tab="effects">{{localize "OD6S.EFFECTS"}}</a>
        <a class="item" data-tab="labels">{{localize "OD6S.LABELS"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{#if editable}}
                <prose-mirror name="system.description" value="{{item.system.description}}" toggled="true"></prose-mirror>
            {{else}}
                <div class="editor-content">{{{item.system.description}}}</div>
            {{/if}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div>{{localize 'OD6S.TYPE'}}: {{localize "OD6S.VEHICLE"}}</div>
            <div class="column">
                <div class="flexrow flex-group-left">
                    <label for="item.system.equipped.value">{{localize 'OD6S.EQUIPPED'}}</label>
                    <input id="item.system.equipped.value" name="system.equipped.value" type="checkbox"
                           data-dtype="Boolean" {{checked item.system.equipped.value}}/>
                </div>
            </div>
        </div>

        {{!-- Effects Tab --}}
        {{> systems/od6s/templates/item/item-effects.html }}

        {{!--Labels Tab --}}
        {{> systems/od6s/templates/item/item-labels-tags.html }}
    </section>
</div>
