<form autocomplete="off" onsubmit="event.preventDefault();">
    <div class="dialog-body">
        {{localize "OD6S.VERIFY_TRANSFER_CREW"}}
    </div>
    <br>
    <div class="flexrow flex-group-left">
        <div>
            <div>{{localize "OD6S.CURRENT_VEHICLE"}}:</div>
            <div>{{currentVehicleName}}</div>
        </div>
        <div class="vehicle-verify-dialog">
            <div>{{localize "OD6S.NEW_VEHICLE"}}:</div>
            <div>{{newVehicleName}}</div>
        </div>
    </div>
    </div>
</form>
