<div>
    <div class="flexrow flex-group-left">
        <label for="wildie">{{localize "OD6S.CHOOSE_WILD_EFFECT"}}:</label>
        <select name="wilddie" id="wilddie">
            {{#each (getWildDieOptions) as |label key|}}
                <option value="{{key}}" {{#if (eq key (getWildDieDefaultValue))}}selected{{/if}}>{{localize label}}</option>
            {{/each}}
        </select>
    </div>
    <input name="messageId" type="hidden" value="{{messageId}}">
    <div class="flexrow flex-group-center"
         data-message-id="{{messageId}}">
        <button type="submit" name="submit" value="submit">{{localize "OD6S.SUBMIT"}}</button>
        <button type="submit" name="cancel" value="cancel">{{localize "OD6S.CANCEL"}}</button>
    </div>
</div>
